@import "variables";
@import "mixins";

.body {
  width: 100%;
  color: $color-primary;

  @include respond(mob-nav) {
    margin-top: 15rem;
  }
}

.about {
  width: 55%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 2rem;
  justify-content: space-around;
  height: 80vh;
  // margin-top: 3rem;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.text {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  @include respond(mob-nav) {
    width: 80%;
  }
}

.heading1 {
  font-size: 4rem;
}

.introduction {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;

  @include respond(mob-nav) {
    font-size: 2.5rem;
  }
}

.introduction2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  line-height: 1.5;

  @include respond(mob-nav) {
    font-size: 2.5rem;
  }
}

.image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

  @include respond(mob-nav) {
    width: 80%;
    margin-top: 5rem;
    height: 40rem;
    object-fit: cover;
  }
}

.img {
  width: 100%;
  border-radius: 5%;
  height: 80%;
  justify-self: center;
  align-self: center;
  object-fit: cover;

  @include respond(mob-nav) {
    object-fit: cover;
    height: 35rem;
  }
}
