@import "variables";
@import "mixins";

.footer {
  width: 100%;
  background-color: $color-primary;
  color: $color-white;
  margin-bottom: 0;
}

.content {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 1.2rem;
  margin-top: 2rem;
  justify-self: center;

  @include respond(tab-land) {
    width: 75%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    margin-top: 3rem;
    justify-self: center;
    width: 100%;
  }
}

.links {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  justify-items: end;

  @include respond(mob-nav) {
    width: 40%;
  }
}

.socials {
  color: $color-white;
  width: 25%;
}

.icon {
  height: 2rem;
  width: 100%;
}

.name {
  font-size: 1.6rem;
}
