@import "variables";
@import "mixins";

.footer {
  width: 100%;
}

.content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4rem;
  padding: 1.2rem;
  margin-top: 2rem;
  justify-self: center;

  @include respond(mob-nav) {
    margin-top: 3rem;
    justify-self: center;
  }
}

.socials {
  color: $color-primary;
  width: 15%;
}

.icon {
  height: 1.5rem;
  width: 100%;
}
