@import "variables";
@import "mixins";

.blogs {
  width: 100%;
  background-color: $color-primary;
  height: 40rem;
  padding-bottom: 2rem;

  @include respond(mob-nav) {
    height: auto;
  }
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include respond(tab-land) {
    width: 75%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  color: $color-white;
  font-size: 1.5rem;

  @include respond(mob-nav) {
    align-self: center;
    width: 90%;
  }
}

.link {
  font-size: 1.3rem;
  color: $color-white;
}

.blog {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @include respond(mob-nav) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
