@import "variables";
@import "mixins";

.work {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: #edf7fa;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: $color-primary;

  @include respond(tab-land) {
    width: 75%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
  }
}
