@import "variables";
@import "mixins";

.work {
  width: 100%;
  // display: flex;
  // justify-content: center;
  // margin-top: 2rem;
  background-color: $color-white;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: $color-primary;
  justify-self: center;
  margin: 0;

  @include respond(tab-land) {
    width: 75%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    margin: 0;
  }
}

.w1 {
  width: 100%;
  background-color: $color-primary;
  transition: all 1s;
}

.w2 {
  width: 100%;
  background-color: $color-white;
  transition: all 1s;
}

.w3 {
  width: 100%;
  background-color: $color-primary;
  transition: all 1s;
}

.w4 {
  width: 100%;
  background-color: $color-white;
  transition: all 1s;
}

.work1 {
  display: flex;
  height: 45vh;
  width: 70%;
  color: $color-white;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 60vh;
  }
}

.work2 {
  display: flex;
  flex-direction: row-reverse;
  height: 40vh;
  width: 70%;
  color: $color-primary;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
  }
}

.work3 {
  display: flex;
  height: 40vh;
  width: 70%;
  color: $color-white;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
  }
}

.work4 {
  display: flex;
  flex-direction: row-reverse;
  height: 40vh;
  width: 70%;
  color: $color-primary;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(mob-nav) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;
  }
}

.heading {
  width: 60%;
  justify-self: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: $color-primary;
  font-size: 1.5rem;

  @include respond(mob-nav) {
    width: 90%;
  }
}

.image {
  height: 80%;
  width: 35%;

  @include respond(mob-nav) {
    width: 90%;
    height: 35%;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include respond(mob-nav) {
    width: 90%;
  }
}

.current {
  width: 15%;
  height: 1.75rem;
  background-color: $color-white;
  color: $color-primary;
  text-align: center;
  font-size: 1.3rem;

  @include respond(mob-nav) {
    width: 15%;
  }
}

.title {
  font-size: 2rem;

  @include respond(mob-nav) {
    font-size: 2.2rem;
  }
}

.description {
  font-size: 1.4rem;
  font-weight: 300;

  @include respond(mob-nav) {
    font-size: 1.8rem;
    font-weight: 300;
  }
}

.link {
  width: 20%;
  background-color: $color-white;
  color: $color-primary;
  text-align: center;
  font-size: 1.3rem;
  padding: 8px 20px;
  border-radius: 27px;
  transition: all 1s;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    border: 2px solid $color-white;
  }

  @include respond(mob-nav) {
    width: 20%;
  }

  @include respond(phone) {
    width: 30%;
  }

  @include respond(tab-land) {
    width: 30%;
  }

  @include respond(tab-port) {
    width: 30%;
  }
}

.link2 {
  width: 20%;
  background-color: $color-primary;
  color: $color-white;
  text-align: center;
  font-size: 1.3rem;
  padding: 8px 20px;
  border-radius: 27px;
  transition: all 1s;

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 2px solid $color-primary;
  }

  @include respond(mob-nav) {
    width: 20%;
  }

  @include respond(phone) {
    width: 30%;
  }

  @include respond(tab-land) {
    width: 30%;
  }

  @include respond(tab-port) {
    width: 30%;
  }
}
